@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "source_sans_probold";
  src: url("../assets/fonts/sourcesanspro-bold-webfont.woff2") format("woff2"),
    url("../assets/fonts/sourcesanspro-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --light: #e8e8e8;
  --light-warm: #eeddcc;
  --pip: #181818;
  --dark: #0f0f0f;
}

svg #Inspiring path {
  fill-opacity: 0;
  stroke-width: 6px;
  paint-order: "stroke";
  stroke-dasharray: 600px;
  stroke-dashoffset: 600px;
  stroke-linecap: round;
  stroke-linejoin: round;
  animation: draw-stroke 5s linear forwards;
}
@keyframes draw-stroke {
  100% {
    fill-opacity: 1;
    stroke-dashoffset: 0;
    stroke-opacity: 0;
  }
}
