@tailwind base;
@tailwind components;
@tailwind utilities;

#title {
    @apply font-bold;
    font-size: clamp(2.7rem, 8vw, 6rem);
    background-image: url(../images/blurry-gradient.svg);
    -webkit-background-clip: text;
}

#title:hover {
    color: transparent;
}