@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blobx {
    0%, 100% {
        left: 0;
    }
    50% {
        left: 100%;
    }
}

@keyframes bloby {
    0%, 100% {
        top: 0;
    }
    50% {
        top: 100%;
    }
}
